body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.board-view {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  height: 100%;
}

.card {
  position: relative;
  max-width: 250px;
  min-height: 100px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background: #fdf2dd;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.card button.edit {
  display: none;
  position: absolute;
  padding: 5px 8px;
  top: 3px;
  right: 3px;
  background: none;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
}

.card button.edit:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

/* Display when hovering on card */
.card:hover button.edit {
  display: block;
}

.card.empty {
  color: #ddd;
  background: none;
  border: 2px dashed currentColor;
  box-shadow: none;
}

.card.empty::after {
  color: #ddd;
  font-size: 2em;
  font-weight: bold;
  content: "+";
  transition: all 0.1s ease-in-out;
}

.card.empty:hover {
  color: #999;
  transform: none;
  box-shadow: none;
}

.card.empty:hover::after {
  color: #999;
}

.card span {
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
}

.card.blue,
.card.red,
.card.assassin,
.card.card.neutral,
.card.blue button.edit,
.card.red button.edit,
.card.assassin button.edit,
.card.card.neutral button.edit {
  color: white;
}

.card.blue {
  background: #4444f6;
}

.card.red {
  background: #ff3131;
}

.card.neutral {
  background: #d39361;
}

.card.assassin {
  background: #444;
}

.card span {
  padding: 15px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
